# Porta da API
PORT=3000
NODE_ENV=development

# Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://erp_user:erp_password@localhost:5432/erp_grafica_db?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Autenticação JWT
JWT_SECRET="super-secret-jwt-key-change-in-production-2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="super-secret-refresh-key-change-in-production-2026"
JWT_REFRESH_EXPIRES_IN="7d"

# Bot API Key (para Chatbot WhatsApp / Telegram via header x-api-key)
BOT_API_KEY="bot-secret-key-grafica-2026"
